@model SanfordMIS4200.Models.Pet

@{
    ViewBag.Title = "Pet Details";
}

<h2>Pet Details</h2>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.petType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.petType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.petID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
