@model IEnumerable<SanfordMIS4200.Models.Pet>

@{
    ViewBag.Title = "Pet Index";
}

<h2>Pet Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.petID }) |
            @Html.ActionLink("Details", "Details", new { id=item.petID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.petID })
        </td>
    </tr>
}

</table>
